.venv
notebooks/.ipynb_checkpoints
results/
models/
data/

__pycache__/

!results/README.md

# Ignore task logs
*.log
task*.sh
# Ignore tasks SGE
*.tsk
# Ignore task output
*.out
# Ignore task error output
*.err
